@font-face{
    font-family:Taylor Light;
    src:url('fonts/taylor-light.woff2'), url('taylor-light.woff');
}
@font-face{
    font-family:Taylor Regular;
    src:url('fonts/taylor-regular.woff2'), url('taylor-regular.woff');
}
@font-face{
    font-family:'Taylor Bold';
    src:url('fonts/taylor-bold.woff2'), url('taylor-bold.woff');
}
@font-face{
    font-family:'Taylor Black';
    src:url('fonts/taylor-black.woff2'), url('taylor-black.woff');
}
@font-face{
    font-family:'Taylor Light Italic';
    src:url('fonts/taylor-lightitalic.woff2'), url('taylor-lightitalic.woff');
}
@font-face{
    font-family:'Taylor Regular Italic';
    src:url('fonts/taylor-regularitalic.woff2'), url('taylor-regularitalic.woff');
}
@font-face{
    font-family:'Taylor Bold Italic';
    src:url('fonts/taylor-bolditalic.woff2'), url('taylor-bolditalic.woff');
}
@font-face{
    font-family:'Taylor Black Italic';
    src:url('fonts/taylor-blackitalic.woff2'), url('taylor-blackitalic.woff');
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500');

::selection{
    color:#fff;
    background-color:orange;
}





@keyframes spin{
    0%{transform:  translate(-50%, -50%) rotate(0deg);}
  100%{transform: translate(-50%, -50%) rotate(360deg);}
}
@keyframes fadeIn {
    0%{
        opacity:0;
       
    }
    100%{
        opacity:1;
    }
}



body{
    background-color:#1a1a1a;
    color:#fff;
    padding:0px;
    margin:0;
    font-family: taylor regular;
    letter-spacing: 0.04em;
    font-size:20px;
    overflow-x:hidden;
}
main{
    margin-bottom:280px;
    background-color:#1a1a1a;
}
img {
    display: block;
    max-width: 100%;
}

h1{
    font-size:200px;
    line-height: 0;
}
h2{
    font-size:44px;
    font-family: taylor light;
    letter-spacing: 0.06em;
}
h3{
    font-family: taylor light;
    font-size:24px;
    line-height: 1.7;
    letter-spacing: 0.08em;
}
h4{
    font-family: ibm plex mono;
    font-weight:400;
    color:#fff;
    font-size:16px;
    line-height: 1.75em;
}
p{
    font-family: roboto mono;
    font-weight:300;
    font-size:14px;
}
em{
    font-family: taylor light italic;
}
a{
    text-decoration: none;
    color:#fff;
}
div.progress-bar{
    width:0px;
    position:fixed;
    top:0;
    left:0;
    height:10px;
    background-image: linear-gradient(to right, red , yellow);
    z-index: 2;
}
div.click-image{
    position:absolute;
    top:0;
    left:50%;
    width:50%;
}
div.click-image img{
    position: absolute;
    max-height: 50px;
    animation: spin linear 30s infinite;
}
.clear{
    position: fixed;
    top:40px;
    right:40px;
    z-index: 1;
    opacity: 0;
}
.clear-open{
    opacity: 1;
}
header{
    position:fixed;
    display: flex;
    justify-content: space-between;
    color:#000;
    background-color:blue;
    top:0px;
    left:0;
    width:100%;
    z-index: 1;
    pointer-events: none;
/*    mix-blend-mode: difference;   */
}
header h4{
  margin:20px;
}


section.hero{
    background-repeat: no-repeat;
    background-position:center;
    background-size:80%;
    height: 100vh;
}
.first{
    opacity: 0;
    animation-name:fadeIn;
    animation-duration:3s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
     height:100vh;
        background-color:#1a1a1a;
      background-image:url('images/hero.svg');
        background-attachment: fixed;
}
.second{
    height:180vh;
        background-color:#0026e0;
      background-image:url('images/click-04.svg');

}
.mobile-img-margin{
    margin-top:80px;
    margin-bottom:10px;
}


section.intro{
   
    text-align: left;
    padding:140px 20px 180px 180px;
    background-color:#ff4a2c;
}
.intro-quote{
    width:50%;
    margin-bottom:40px;
}
.intro-desc{
    width:50%;
    border-top:1px solid #fff;
}




section.image-two-column-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap; 
}
section.image-two-column-flex img{
    width:50%;
}






section.image-full{
    width:100%;
}
section.image-full img{
    max-width:100%;
}
section.double{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:90vh;
}
.double-left{
    width:60%;
    background-image:url('images/taylor-1.jpg');
    height:90vh;
    background-size:cover;
    padding: 0;
    margin: 0;
}
.double-right{
    width:40%;
    background-image:url('images/Diacritics-GIF.gif');
    height:90vh;
    background-size:cover;
    padding: 0;
    margin: 0;
}
section.parallax {
  padding: 0px;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
    background-color:blue;
/*    background-image:linear-gradient(0deg, red , rgba(0, 0, 0, 0));*/
    position: relative;
}

div.parallax-1{
  position: absolute;
  z-index:;
  top: 0px;
  left: 100px;
  width: 200px;
}
div.parallax-2{
  position: absolute;
  bottom: 400px;
  right: 1000px;
  height: 100px;
  width: 100px;
}
div.parallax-3{
  position: absolute;
  bottom: 200px;
  right: 400px;
  height: 100px;
  width: 300px;
}
div.parallax-4{
  position: absolute;
  top: 600px;
  right: 100px;
  height: 100px;
  width: 100px;
}
div.parallax-5{
  position: absolute;
  bottom: 350px;
  left: 700px;
  width: 100px;
}
div.parallax-6{
  position: absolute;
  bottom: 700px;
  right: 280px;
  height: 100px;
  width: 100px;
}
div.parallax-7{
  position: absolute;
  bottom: 100px;
  left: 100px;
  height: 100px;
  width: 100px;
}
div.parallax-8{
  position: absolute;
  bottom: 800px;
  right: 100px;
  height: 100px;
  width: 100px;
}

section.grid-container{
    width:100%;
    background-color:#fff;
    padding: 230px 0;
    background-attachment: fixed;
    position:relative;
}
.left-rotate{
    position:absolute;
    top:50%;
    left:0px;
    transform: rotate(-90deg);
    color:#000;
}
.right-rotate{
    position:absolute;
    top:50%;
    right:0px;
    transform: rotate(90deg);
    color:#000;
}
.grid-intro-text{
    color:blue;
    text-align: left;
    width:80%;
    margin:0 auto;
    font-size:44px;
    font-family:taylor regular italic;
    text-align: center;
}
section.grid{
  display: grid;
    
    grid-template-columns: repeat(15, 1fr);
    background-color:#fff;
    width:95%;
    margin:100px auto;

}
section.image-two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:blue;
    padding:200px 0;
    grid-gap:40px 20px;
}

section.grid div{
    height:60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
/*    border-top:1px solid #000;*/
    padding-bottom:20px;
    cursor:auto;
}
.hover{
  position: absolute;
  width: 300px;
  height: 300px;
  background-color:rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
 	justify-content: center;
  align-items: center;
	visibility: hidden;
  transition:  all .05s;
  pointer-events: none;
  font-size: 100px;
}






section.type-tester{
    margin:0px 0;
    border-top:1px solid #fff;
    padding:40px 0;
    background-color:#0026e0;
    min-height: 100vh;
}
.bg-circles{
    display: flex;
    width:90%;
    margin:0 auto;
    justify-content: center;
}
.circle{
    width:20px;
    height:20px;
    background-color:white;
    border-radius:50%;
    margin:20px;
    cursor:pointer;
    border:1px solid;
}
.blue{
    background-color:blue;
}
.orange{
    background-color:orange;
}
.white{
    background-color:#fff;
}
.black{
    background-color:black;
}

section.options{
    display: flex;
    justify-content: space-between;
    flex-wrap:nowrap;
    padding:80px;
    width: 80%;
    margin:0 auto;
}
div.option{
    width:20%;
}


label{
    margin-bottom:20px;
    font-family:ibm plex mono;
    font-size:13px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
label span{
    font-family: ibm plex mono;
}
div.output{
    min-height: 500px;
    width:80%;
    margin:0 auto;
    padding: 0 100px;
    height:auto;
    font-size:200px;
    border:none;
    outline:none;
    color:#fff;
    font-family:taylor light;
    overflow-y:visible;
    text-align: center;
    max-height:300vh;
    overflow-y: hidden;
}





footer{
    text-align: center;
    height:200px;
    padding-top:40px;
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    z-index: -1;
}




select {
    display: inline-block;
    height:30px;
    width:100%;
    padding: 12px 10px 2px 2px;
    outline: none;
    color: #fff;
    border: 1px solid #C8BFC4;
    background: blue; 
    font-family:ibm plex mono;
    font-size:12px;
}

/*
.custom-select{
    position: relative;
    
}
.custom-select select{
    display: none;
}
.select-selected{
    background-color:blue;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
*/





input[type=range]{
  width: 100%;
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}
/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #fff;
  opacity: 0.2;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  opacity: 1;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fff;
	opacity: 0.2;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #fff;
  opacity: 0.2;
}
input[type=range]:focus::-ms-fill-lower {
  background: #fff;
}
input[type=range]::-ms-fill-upper {
  background: #fff;
	opacity: 0.2;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
  opacity: 1;
}




@media (max-width:800px){
    img {
        margin-bottom:60px;
    }
    section.image-two-column{
        padding:0;
    }
    section.image-two-column img{
        margin-bottom:0px;
    }
}


@media (max-width:1250px){
    div.output{
        max-width:100%;
        padding:0 40px;
    }
    section.options{
        display: block;
        padding:40px 0px;
        
    }
    div.option{
        margin-left:auto;
        margin-right:auto;
        width:200px;
    }
    select{
        margin-bottom:30px;
    }
}







@media (max-width:1200px){
    section.intro{
        padding-left:120px;
    }
    .intro-quote{
        width:80%;
    }
    .intro-desc{
        width:80%;
    }

    section.grid{
        grid-template-columns: repeat(15, 1fr);
    }
}


@media (max-width:1000px){
    section.image-two-column-flex img{
        width:100%;
    }
    section.grid-container{
        padding:100px 0;
    }
     section.parallax{
        display: none;
    }
}



@media (max-width:800px){
    section.intro{
        padding:40px;
    }
    div.output{
        font-size:120px;
    }
    section.grid{
        grid-template-columns: repeat(10, 1fr);
        margin-bottom:0px;
    }
     section.image-two-column{
        grid-template-columns: 1fr;
    }
    header h4{
        font-size:14px;
    }
}



@media (max-width:650px){
    .intro-quote{
        width:100%;
    }
    .intro-quote h2{
        font-size:36px;
    }
    .intro-desc{
        width:100%;
        margin-bottom:80px;
    }
    .intro-desc h3{
        font-size:22px;
    }
      header h4{
        font-size:12px;
    }
}




