@font-face{
    font-family:Taylor Light;
    src:url('fonts/taylor-light.woff2'), url('taylor-light.woff');
}
@font-face{
    font-family:Taylor Regular;
    src:url('fonts/taylor-regular.woff2'), url('taylor-regular.woff');
}
@font-face{
    font-family:'Taylor Bold';
    src:url('fonts/taylor-bold.woff2'), url('taylor-bold.woff');
}
@font-face{
    font-family:'Taylor Black';
    src:url('fonts/taylor-black.woff2'), url('taylor-black.woff');
}
@font-face{
    font-family:'Taylor Light Italic';
    src:url('fonts/taylor-lightitalic.woff2'), url('taylor-lightitalic.woff');
}
@font-face{
    font-family:'Taylor Regular Italic';
    src:url('fonts/taylor-regularitalic.woff2'), url('taylor-regularitalic.woff');
}
@font-face{
    font-family:'Taylor Bold Italic';
    src:url('fonts/taylor-bolditalic.woff2'), url('taylor-bolditalic.woff');
}
@font-face{
    font-family:'Taylor Black Italic';
    src:url('fonts/taylor-blackitalic.woff2'), url('taylor-blackitalic.woff');
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500');

::selection{
    color:#fff;
    background-color:orange;
}

@keyframes spin{
    0%{transform:  translate(-50%, -50%) rotate(0deg);}
  100%{transform: translate(-50%, -50%) rotate(360deg);}
}

body{
    background-color:#1a1a1a;
    color:#fff;
    padding:0px;
    margin:0;
    font-family: taylor regular;
    letter-spacing: 0.04em;
    font-size:18px;

}
img {
    display: block;
}
h1{
    font-size:200px;
    line-height: 0;
}
h2{
    font-size:44px;
    font-family: taylor light;
    letter-spacing: 0.06em;
}
h3{
    font-family: taylor light;
    font-size:24px;
    line-height: 1.7;
    letter-spacing: 0.08em;
}
h4{
    font-family: ibm plex mono;
    font-weight:400;
    color:#fff;
    font-size:16px;
    line-height: 1.75em;
}
p{
    font-family: roboto mono;
    font-weight:300;
    font-size:14px;
}
em{
    font-family: taylor light italic;
}
a{
    text-decoration: none;
    color:#fff;
}
div.progress-bar{
    width:0px;
    position:fixed;
    top:0;
    left:0;
    height:10px;
    background-image: linear-gradient(to right, red , yellow);
    z-index: 2;
}
div.click-image{
    position:absolute;
    top:0;
    left:50%;
    width:50%;
}
div.click-image img{
    position: absolute;
    max-height: 50px;
    animation: spin linear 30s infinite;
}
.clear{
    position: fixed;
    top:40px;
    right:40px;
    z-index: 1;
    opacity: 0;
}
.clear-open{
    opacity: 1;
}
header{
    position:fixed;
    display: flex;
    justify-content: space-between;
    color:#000;
    top:0px;
    left:50%;
    transform: translate(-50%, 0);
    width:95.6%;
    z-index: 1;
    pointer-events: none;
}
header span{
    pointer-events: none;
}
header div{
    max-width: 140px;
    text-align: right;
}
section.hero{
    background-repeat: no-repeat;
    background-position:center;
    background-size:80%;
    height: 100vh;
}
.first{
     height:100vh;
        background-color:#1a1a1a;
      background-image:url('images/hero.svg');
        background-attachment: fixed;
}
.second{
    height:180vh;
        background-color:#0026e0;
      background-image:url('images/click-04.svg');

}

section.intro{
    max-height:100vh;
    text-align: left;
    padding:60px 180px;
    background-color:#ff4a2c;
}
.intro-title{
    width:30%;
}
.intro-desc{
    width:65%;
}
.intro-desc h2{
    width:80%;
}
.intro-desc h3{
    width:80%;
    line-height: 1.9;
    margin-top:80px;
    border-top:1px solid #fff;
    padding-top:50px;
}

section.parallax-1 {
    width:100%;
    position:relative;
    height:250vh;
    background-color: #ff4a2c;
}
section.parallax-1 img{
    position: absolute;
}
.parallax-img-1{
    width:40px;
    bottom:800px;
    left:30px;
}
.parallax-img-2{
    width:40px;
    top:200px;
    right:30px;
}

.parallax-img-3{
    width:40px;
    top:500px;
    right:7000px;
}




section.image-full{
    width:100%;
}
section.image-full img{
    max-width:100%;
}
section.double{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:90vh;
}
.double-left{
    width:60%;
    background-image:url('images/taylor-1.jpg');
    height:90vh;
    background-size:cover;
    padding: 0;
    margin: 0;
}
.double-right{
    width:40%;
    background-image:url('images/Diacritics-GIF.gif');
    height:90vh;
    background-size:cover;
    padding: 0;
    margin: 0;
}







section.grid-container{
    width:100%;
    background-color:#f2f2f2;
    padding: 230px 0;
    background-attachment: fixed;
    position:relative;
}
.left-rotate{
    position:absolute;
    top:50%;
    left:0px;
    transform: rotate(-90deg);
    color:#000;
}
.right-rotate{
    position:absolute;
    top:50%;
    right:0px;
    transform: rotate(90deg);
    color:#000;
}
.grid-intro-text{
    color:#000;
    text-align: left;
    width:80%;
    margin:0 auto;
    font-size:44px;
    font-family:taylor regular italic;
    text-align: center;
}
section.grid{
  display: grid;
    
    grid-template-columns: repeat(20, 1fr);
    background-color:#f2f2f2;
    width:80%;
    margin:100px auto;

}

section.grid div{
    height:60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
    border-top:1px solid #000;
    padding-bottom:20px;
    cursor:auto;


}
.hover{
  position: absolute;
  width: 300px;
  height: 300px;
  background-color:rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
 	justify-content: center;
  align-items: center;
	visibility: hidden;
  transition:  all .05s;
  pointer-events: none;
  font-size: 100px;
}


section.type-tester{
    margin:0px 0;
    border-top:1px solid #fff;
    padding:40px 0;
    background-color:#0026e0;
    min-height: 100vh;
}
.bg-circles{
    display: flex;
    width:90%;
    margin:0 auto;
    justify-content: center;
}
.circle{
    width:20px;
    height:20px;
    background-color:white;
    border-radius:50%;
    margin:20px;
    cursor:pointer;
    border:1px solid;
}
.blue{
    background-color:blue;
}
.orange{
    background-color:orange;
}
.white{
    background-color:#fff;
}
.black{
    background-color:black;
}

section.options{
    display: flex;
    justify-content: space-between;
    padding:80px;
    width: 80%;
    margin:0 auto;
}
div.option{
    width:20%;
}
div.option span{
    float:right;
}

label{
    margin-bottom:20px;
}
label span{
    font-family: taylor light italic;
}
div.output{
    min-height: 500px;
    width:80%;
    margin:0 auto;
    padding: 0 100px;
    height:auto;
    font-size:200px;
    border:none;
    outline:none;
    color:#fff;
    font-family:taylor light;
    overflow-y:visible;
    text-align: center;
    max-height:300vh;
    overflow-y: hidden;
}





footer{
    text-align: center;
    padding:80px;
}






.custom-select{
    position: relative;
    
}
.custom-select select{
    display: none;
}
.select-selected{
    background-color:blue;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}





input[type=range]{
  width: 100%;
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}
/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #fff;
  opacity: 0.2;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  opacity: 1;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fff;
	opacity: 0.2;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #fff;
  opacity: 0.2;
}
input[type=range]:focus::-ms-fill-lower {
  background: #fff;
}
input[type=range]::-ms-fill-upper {
  background: #fff;
	opacity: 0.2;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
  opacity: 1;
}




